<div class="caixa-p">
  <header>
    <mat-toolbar color="grey">
      <mat-toolbar-row>
        <span>Oak Invest</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <main>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Login">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Singup">
        <app-singup></app-singup>
      </mat-tab>
    </mat-tab-group>
  </main>
</div>